<%= form_for(@user) do |f| %>
<p>Name</p>
<%= f.text_field :name, autofocus: true, placeholder:"名前"%>
<!-- 画像編集 -->
<div>
   <%= attachment_image_tag @user, :profile_image,format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
   <p>ProfileImage</p>
   <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
   <!-- introduction -->
   <p>introduction</p>
   <%= f.text_area :introduction, autofocus: true, placeholder:"introduction" %>
</div>
<%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>