<!-- エラー文、フラッシュ表示 -->
<% @user.errors.full_messages.each do |message| %>
   <div class="form-error">
   	  <%= message %>
    </div>
<% end %>
<% @book.errors.full_messages.each do |message| %>
   <div class="form-error">
      <%= message %>
      <%= "error" %>
    </div>
    <div class="flash"><%= flash[:notice] %></div>
<% end %>
<!-- コンテンツ全体 -->
<div class ="container" >
	<div class="row">
		<!-- サイドバー -->
            <div class = "col-xs-3">
            	<h1>User info</h1>
                <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
                <table>
                    <tbody>
                        <tr>
                           <th>name</th><td><%= @user.name %></td>
                        </tr>
                        <tr>
                           <th>introduction</th><td> <%= @user.introduction %></td>
                        </tr>
                    </tbody>
                </table>
         <!-- 編集ボタン -->
                    <p><%= link_to edit_user_path(@user) do %>
                    <span class="glyphicon glyphicon-wrench btn btn-default create_btn" aria-hidden="true">
                    </span></p>
                    <% end %>
               <!-- 新規投稿 -->
                <h1>New book</h1>
                <div class= "new_book">
	                <%= form_for(@book) do |f| %>
	                <h4>Title</h4>
                    <%= f.text_field :title %>
                    <h4>Opinion</h4>
                    <%= f.text_area :body %>
                    <p>
                    <%= f.submit 'Create Book',class: "btn btn-primary" %></p>
	               <% end %>

                </div>
            </div>
<!-- 本一覧 -->
  <div class ="col-xs-9">
	<h2>Books</h2>
	    <table class="table table-hover">
	        <thead>
		        <tr>
                    <th></th>
			        <th>Title</th>
			        <th>Opinion</th>
		            </tr>
	        </thead>
	        <tbody>
		        <% @books.each do |book| %>
		          <tr>
			       <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %>
	                </td>
			        <td class="title_area">
                     <%= link_to book_path(book) do %>
                           <p><%= book.title %></p>
                     <% end %>
                     </td>
			         <td class= "body_area"><%= book.body %></td>
		           </tr>
		        <% end %>
	        </tbody>
        </table>
    </div>
    </div>
</div>
