<div class="body">
  <div class="container">
    <div class="low">
      <div class="col-md-6 col-md-offset-3">
        <h1>Editing Book</h1>
        <%= form_for(@book) do |f| %>
        <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
        <%= message %> error
        <% end %>
        <% end %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %><br>
        <%= f.submit 'Update Book',class: "btn btn-primary"  %>
        <% end %>
        <%= link_to "Show",book_path(@book.id),class: "edit_link" %><%= "|" %><%= link_to "Back", "/books",class: "edit_link" %>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
      <div class="copyright">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</div>
</footer>