<div class="body">
   <div class="container">
      <div class="row">
         <%= render 'users/sidebar',user: @user,book: @book %>
            <div class="col-xs-9">
               <h1>Books</h1>
                  <table class="table table-hover">
   	               <thead>
   		               <tr>
   			               <th></th>
   			               <th>Title</th>
   			               <th>Opinion</th>
   		               </tr>
   	               </thead>
   	               <tbody>
                        <% @books.each do |book| %>
   		                  <tr>
   			                  <td><%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg" %></td>
   			                  <td><%= link_to book_path(book) do%>
                              <p><%= book.title %></p></td>
                        <% end %>
   			                  <td><%= book.body %></td>
   		                  </tr>
   		               <% end %>
   	               </tbody>
                  </table>
            </div>
      </div>
   </div>
</div>